{% extends 'base.html.twig' %}

{% block title %}
  Languages à ajouter
{% endblock %}

{% block body %}
  <div class="min-h-screen bg-gray-100 py-10 px-4">
    <div class="max-w-3xl mx-auto bg-white shadow-md rounded p-6">
      <h1 class="text-2xl font-bold mb-6 text-center">TO-DO LIST</h1>
      <h2>Langues approuvées à ajouter en bdd</h2>
      {% if approvedLanguages is not empty %}
        <ul class="list-disc pl-6 space-y-2">
          {% for language in approvedLanguages %}
            <li>
              <span class="font-semibold">{{ language.name }}</span><br />
              <span class="text-sm text-gray-600">{{ language.description }}</span>

              {# ici un bouton qui redirige vers ajout d'une langue manuellement #}
              <div class="flex items-center justify-between">
                <a href="{{ path('admin', { crudAction: 'new', entity: 'Language', name: language.name, description: language.description }) }}"><button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter manuellement</button></a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-gray-700 text-center">Aucune langue approuvée à ajouter pour le moment.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
